views/snippets/trung_block.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="odoo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="template">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="section" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" use="required" />
                        <xs:attribute name="name" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>